*{
    margin:0;
    padding:0;
}
@font-face {
    font-family: "Mostwasted"; /* A name you choose for your font */
    src: 
        url("fonts/mostwasted/Mostwasted.woff2") format("woff2"), /* Use appropriate paths and formats*/
         url("fonts/mostwsted/Mostwasted.woff") format("woff"),
         url("fonts/mostwasted/Mostwasted.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    /* Optional: control font loading behavior */
    font-display: swap; 
}
body{
    background-color:black;
    color:white;
}

.container{
    display:grid;
    border: 5px white solid;
    grid-template-columns: auto;
    color:white;
    border: red solid 5px;
}
.openAnimation{
    display:grid;
    place-items:center;
    height:100vh;
}
#openAnimation{
    border:orange solid 5px;
    width:100%;
    height:100vh;
    margin:5px auto;
}



.navICON{
    height:500px;
    width:500px
}
.section1{
    background-color:black;
    color:white;
    width:100%;
    height:100vh;
    border:yellow solid 5px;
}
.BigTitle{
    font-family: "Mostwasted", monospace;
    font-size:12em;
    margin:10px;
    padding:35px;
    text-align: center;
}
.intro{
    font-size:25px;
    text-align:center;
    padding:0px 150px 0px 150px;
}
.imageScroll{
    display:flex;
    border:5px white solid;
    width:1200px;
    right:0;
    left:0;
    margin:auto;
    height:300px;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
	list-style: none;
	white-space: nowrap;
	max-width: calc(var(--cover-size) * 6);
	overflow: scroll;
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #ff0000;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
.imageBlock{
    border:red solid 2px;
    background-color:blue;
    margin:auto 20px;
    width:400px;
    list-style: none;
    display: inline-block;
	width: var(--cover-size);
	aspect-ratio: 1;
    scroll-snap-align: center;
	height: 300px;
	-webkit-box-reflect: below 0.5em linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.25));
}

.section2{
    height:200vh;
    width:100%;
    border:green solid 5px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.placeholderIMG{
    width:400px;
    height:350px;
    background-color:blue;
    border:yellow 5px solid;
}
.row{
    display:flex;
    flex-direction: row;
    border:green solid 5px;
}
.img1{
    position:absolute;
    left:0;
}
.img2{
    position:absolute;
    right:0;
}

.section3{
    height:100vh;
    width:100%;
    border:blue solid 5px;
}

