*{
    margin:0;
    padding:0;
}


@font-face {
    font-family: "Mostwasted"; /* A name you choose for your font */
    src: 
        url("fonts/mostwasted/Mostwasted.woff2") format("woff2"), /* Use appropriate paths and formats*/
         url("fonts/mostwsted/Mostwasted.woff") format("woff"),
         url("fonts/mostwasted/Mostwasted.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    /* Optional: control font loading behavior */
    font-display: swap; 
}

.container{
    background-color:black;
    color:white;
    display:grid;
    grid-template-areas:
    "openAnimation header"
    "section1 content"
    "section2 content"
    "footer footer";
    gap: 5px;
    width:100vw;
    height:100vh;
    border:25px orange solid;
}
.hidden{
    visibility: hidden;
}

.container div.openAnimation{
    grid-area:header;
    width:100vw;
    height:200px;
    background-color:rgb(173, 59, 59);
    border:blue solid 5px;
    transition: 0.4s;
}


.container div.section1{
    grid-area:section1;
    width:100vw;
    border:solid red 5px;
    height:900px;
}

div.navICON{
    width:500px;
    height:500px;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    margin:auto;
    border:solid orange 5px;
}




@keyframes adjust-info {
	to {
		grid-template-columns: 4em 1fr;
		gap: 1rem;
		height: 200px;
        width:200px;
        top:0px;
        left:-1000px;
	}
}
/* @keyframes shrink-name {
	to { font-size: 1.5rem; }
} */
/* @keyframes add-shadow {
	to { box-shadow: 0 5px 5px -3px rgba(0,0,0,.26); }
} */
/* @keyframes move-button {
	to { translate: 0% 40%; }
} */
@keyframes move-and-fade-background {
	to {
		translate: 0% -10%;
		scale: 0.96;
        height:200px;
	}
}
.animation1{
    animation:adjust-info linear both;
    animation-range:0 150px;
    animation-timeline:scroll();
}
.animation2{
    animation: move-and-fade-background linear both;
    animation-range:0 150px;
    animation-timeline:scroll();
}





.BigTitle{
    font-family: "Mostwasted", monospace;
    font-size:200px;
    margin:15px;
    padding:10px;
}


.navButton{
    position:absolute;

    width:200px;
    height:200px;
    left:70px;
    top:70px;
}

#buttonBase{
    width:60px;
    height:60px;
    background-color:white;
    position:absolute;
    border:5px black solid;
    border-radius:100px;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
}


#button1{
    width:100px;
    height:100px;
    background-color:white;
    position:absolute;
    border-radius:0px 60px 0px 60px;
}
#button2{
    width:100px;
    height:100px;
    background-color:white;
    position:absolute;
    right:0;
    border-radius:60px 0px 60px 0px;
}
#button3{
    width:100px;
    height:100px;
    background-color:white;
    position:absolute;
    right:0;
    bottom:0;
    border-radius:0px 60px 0px 60px;
}
#button4{
    width:100px;
    height:100px;
    background-color:white;
    position:absolute;
    left:0;
    bottom:0;
    border-radius:60px 0px 60px 0px;
}

.intro{
    display:flex;
    flex-direction: column;
}
#placeholderText{
    font-size:30px;
    width:1500px;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
}
.imageScroll{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    /* will-change: transform; 

    transform: 
    translate3d(0px, 0px, 0px) 
    scale3d(1, 1, 1) 
    rotateX(0deg) 
    rotateY(0deg) 
    rotateZ(0deg) 
    skew(0deg, 0deg); 

    transform-style: preserve-3d; */
}
.imageBlock{
    width:400px;
    height:250px;
    background-color:white;
}



/* .section1{
    border: red 5px solid;
    width:100%;
    height:600px;

} */
